.button-row {
  padding: 10px 15px 15px 15px;
}

.error {
  color: red;
  font-size: 12px;
}

.datepicker {
  width: 272px;
}

md-radio-button {
  margin-right: 10px;
}
.md-radio-label-content {
  font-weight: normal;
}

.glyphicon {
  top: -1px;
}
