<form novalidate [formGroup]="form" (submit)="next()">
  <md-card>
    <md-card-title>Question 5 - What is your highest education level?</md-card-title>
    <md-card-content>
      <md-select placeholder="Please select your education level" formControlName="education" #favColor (onSelect)="onSelectEducation()">
        <md-option *ngFor="let educationOption of educationOptions" [value]="educationOption.id">
          {{educationOption.name}}
        </md-option>
      </md-select>
      <div class="error" *ngIf="form.get('education').touched && form.get('education').hasError('required')">
        <strong>Education is required</strong>
      </div>
    </md-card-content>
    <md-card-actions class="button-row">
      <button type="button" md-raised-button (click)="back()">
        <span class="glyphicon glyphicon-chevron-left"></span> Back
      </button>
      <button type="submit" [disabled]="form.invalid" md-raised-button>
        Next <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </md-card-actions>
  </md-card>
</form>
