<form novalidate [formGroup]="form" (submit)="next()">
  <md-card>
    <md-card-title>Question 6 - How much is your car?</md-card-title>
    <md-card-content>
      <md-input-container>
        <input md-input formControlName="numberOfCars" #numberOfCars placeholder="Please enter number">
      </md-input-container>
      <div class="error" *ngIf="form.get('numberOfCars').touched && form.get('numberOfCars').hasError('required')">
        <strong>Number of cars are required.</strong>
      </div>
      <div class="error" *ngIf="form.get('numberOfCars').touched && form.get('numberOfCars').hasError('pattern')">
        <strong>Please enter exact value.</strong>
      </div>
    </md-card-content>
    <md-card-actions class="button-row">
      <button type="button" md-raised-button (click)="back()">
        <span class="glyphicon glyphicon-chevron-left"></span> Back
      </button>
      <button type="submit" [disabled]="form.invalid" md-raised-button>
        Next <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </md-card-actions>
  </md-card>
</form>
