<form novalidate [formGroup]="form" (submit)="next()">
  <md-card>
    <md-card-title>Question 1 - What is your name?</md-card-title>
    <md-card-content>
      <table cellspacing="0">
        <tr>
          <td>
            <md-input-container>
              <input md-input formControlName="firstName" #firstname placeholder="First Name">
            </md-input-container>
            <div class="error" *ngIf="form.get('firstName').touched && form.get('firstName').hasError('required')">
              <strong>First name is required</strong>
            </div>
          </td>
          <td>
            <md-input-container>
              <input md-input formControlName="lastName" #lastname placeholder="Last Name">
            </md-input-container>
            <div class="error" *ngIf="form.get('lastName').touched && form.get('lastName').hasError('required')">
              <strong>Last name is required</strong>
            </div>
          </td>
        </tr>
      </table>
    </md-card-content>
    <md-card-actions class="button-row">
      <button type="submit" [disabled]="form.invalid" md-raised-button>
        Next <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </md-card-actions>
  </md-card>
</form>


