<form novalidate [formGroup]="form" (submit)="next()">
  <md-card>
    <md-card-title>Question 3 - What is your gender?</md-card-title>
    <md-card-content>
      <md-radio-group formControlName="gender" #gender>
        <md-radio-button value="Male">Male</md-radio-button>
        <md-radio-button value="Female">Female</md-radio-button>
      </md-radio-group>
      <div class="error" *ngIf="form.get('gender').touched && form.get('gender').hasError('gender')">
        <strong>Gender is required</strong>
      </div>
    </md-card-content>
    <md-card-actions class="button-row">
      <button type="button" md-raised-button (click)="back()">
        <span class="glyphicon glyphicon-chevron-left"></span> Back
      </button>
      <button type="submit" [disabled]="form.invalid" md-raised-button>
        Next <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </md-card-actions>
  </md-card>
</form>


